.DS_Store
dist
docs
node_modules
yarn-error.log
cypress/screenshots
cypress/downloads
cypress/videos
cypress/**/__diff_output__/
.env
coverage/
eslint_report.json
.beads/
yarn.lock
examples/audio/long-audio/*
AGENTS.md

# wasm packaging results
/surfer-calc-module/target
/surfer-calc-module/target/*
/surfer-calc-module/pkg
/surfer-calc-module/pkg/*
